
.authorboxwrap { background: linear-gradient( 45deg ,#0a515d,#328884); color: #f5f6fa; margin: 0 auto; padding: 20px; border-radius: 3px; }.avatar-container { border-radius: 50px;float: right; margin: 0 0 0 20px; box-shadow: 0 7px 7px 0 rgb(0 0 0 / 6%); }.avatar-container img { width: 90px; height: auto; max-width: 100%!important; border-radius: 50px; }.author_description_container h4 { font-size: 18px; display: block; margin: 0; margin-bottom: 2px; }.author_description_container h4 a { color: #ffffff; }.author_description_container p { width: 90%;margin: 0; font-size: 14px; margin-bottom: 8px; line-height: 25px; font-weight: 400; }
  
  .prof-sm { position: relative; list-style: none; padding: 0; margin: 0; width: 40px; float: left;} .prof-sm .sm { width: 40px; height: 40px; margin-bottom: 4px; border-radius: 50%; background:#F9F9F9; transition: all 0.15s ease-in-out; box-shadow: 0 0.5px 2px rgba(0, 0, 0, 0.24), 0 0.5px 3px rgba(0, 0, 0, 0.12); } .prof-sm .sm:hover { background:#F9F9F9; } .prof-sm .sm:active { background: #DADADA; } .prof-sm a { display: inline-block; height: 40px; width: 40px; border-radius: 50%; } .prof-sm svg { width: 30px; height: 30px; margin: 5px; border-radius: 50%; } .prof-sm path { fill: #217174; } 
  
  span.overlay {backdrop-filter: blur(1px);opacity: 0; transform: scale(1.3);background:rgba(252,79,63,0);cursor:pointer;position:absolute;left:0;right:0; bottom:0;top:0;z-index:2;width:100%;height:100%;text-transform:uppercase; text-align:center;text-decoration:none;color:#e4e4e4;font-size:1.125em;font-weight:400; display:-ms-flexbox;display:-webkit-flex;display:flex;-ms-flex-align:center; -webkit-align-items:center;align-items:center;-webkit-transition:all 0.4s;-moz-transition:all 0.4s;-o-transition:all 0.4s;} span.overlay:hover {opacity:1;background:rgba(252,79,63,0);transform:scale(1)}span.overlay .info-wrapper {width:100%;color:#fff;text-shadow:2px 2px 0 rgba(0,0,0,0.2); font-size: 30px;}
  
  /* Logo animation */
#Header1 h1 a:hover{/*animation*/
-webkit-animation:jelly .5s;-moz-animation:jelly .5s;-ms-animation:jelly .5s;-o-animation:jelly .5s;animation:jelly .5s;}
#Header1 img:hover{/*animation*/
-webkit-animation:jelly .5s;-moz-animation:jelly .5s;-ms-animation:jelly .5s;-o-animation:jelly .5s;animation:jelly .5s;}
@-webkit-keyframes jelly{from,to{-webkit-transform:scale(1,1);transform:scale(1,1);}25%{-webkit-transform:scale(.9,1.1);transform:scale(.9,1.1);}50%{-webkit-transform:scale(1.1,.9);transform:scale(1.1,.9);}75%{-webkit-transform:scale(.95,1.05);transform:scale(.95,1.05);}}
@keyframes jelly{from,to{-webkit-transform:scale(1,1);transform:scale(1,1);}25%{-webkit-transform:scale(.9,1.1);transform:scale(.9,1.1);}50%{-webkit-transform:scale(1.1,.9);transform:scale(1.1,.9);}75%{-webkit-transform:scale(.95,1.05);transform:scale(.95,1.05);}}
  
  ::-webkit-scrollbar-thumb:hover{background-color:rgba(0,0,0,.4);box-shadow:inset 1px 1px 0 rgba(0,0,0,.2),inset 0 -1px 0 rgba(0,0,0,.1332)}
 ::-webkit-scrollbar-thumb {background: linear-gradient( 45deg ,#0a515d,#328884);;}
 ::-webkit-scrollbar { width: 8px; height: 7px; background: #fff; }
  
  @font-face{font-family:&#39;cocon-next-arabic&#39;;src: url(&#39;https://www.fontstatic.com/fonts/cocon-next-arabic/cocon-next-arabic.eot?#iefix&#39;);src: local(&#39;كوكن&#39;), local(&#39;cocon-next-arabic&#39;),url(&#39;https://www.fontstatic.com/fonts/cocon-next-arabic/cocon-next-arabic.woff&#39;) format(&#39;woff&#39;);}
  
  

  .scrollToTop {margin-right: 10px; position: relative; cursor: pointer; width: 40px; text-align: center;}
.scrollToTop a{cursor: pointer; width: 40px; height: 40px; text-align: center; font-weight: bold; text-decoration: none; border-radius: 50%; color: #45607d; z-index: 9; line-height: 40px; font-size: 20px; background: #fff;  margin: 0 auto; position: relative; display: block;}
 
.button-conscrollToTop{display: -webkit-box;margin: 30px auto; position: relative;text-align: center;width: 13%}
  
.blog__title2 {text-align: center; font-size: 18px; padding: 1rem 0; } .blog__title2 i{color: #fff; background: linear-gradient( 45deg ,#0a515d,#328884); padding: 7px; border-radius: 100%; margin-left: 5px; width: 32px; height: 32px;}

input.gsc-search-button{ margin-left: 2px; background: #0a5b8c; color: #fff;background: #0a5b8c;border: 0; padding: 5px; border-radius: 4px; }
input.gsc-input { border: 0; width: 99%; border-radius: 4px; padding: 5px; background: #0a5b8c; color: #fff; }
  
  
 .post-author svg { font-weight: 500; color: #222; }.post-author svg, .fn svg { vertical-align: middle; margin: 0 3px 3px 3px; }.author-meta.g-profile,.author-meta.g-profile svg { font-weight: 500; color: #1e6d71;padding: 5px; }
  
  
  #sidebar .widget.PopularPosts .post:before { content: counter(PopularPosts); counter-increment: PopularPosts; display: -webkit-box; display: -webkit-flex; display: -moz-box; display: -ms-flexbox; display: flex; align-items: center; justify-content: center; background-color: #4285f4; position: absolute; top: 0; right: -10px; color: #fff; font-weight: 700; z-index: 1; width: 20px; height: 20px; border: 2px solid #fff; border-radius: 100px; }
  
  /* Social Media Footer */
#socialcounterd{position: relative; margin: 10px auto; text-align: center; width: 100%; display: inline-block;}#socialcounterd ul{margin:0 auto;list-style:none;max-width:640px}#socialcounterd ul a{color:#fff}#socialcounterd ul li.social_item-wrapper{position:relative;float:right;width:24%;margin:0 auto;padding:0;border:0;color:#fff;text-align:center;transition:all .3s}#socialcounterd ul li a{position: relative; border-radius: 50px;  display: block; font-weight: 400; margin: auto; padding: 0 15px; width: 100%; max-width: 120px; height: 38px; line-height: 38px; text-align: center; overflow: hidden; background: linear-gradient( 45deg ,#0a515d,#328884);}#socialcounterd ul li a:hover{color:#fff;box-shadow:inset 0 0 0 42px #4f4387}#socialcounterd ul li a.social_item span{margin:0}
  
.contextMenu-dz {animation: fadeInUp 1s;z-index: 999999; position: fixed; color: #ffffff; pointer-events: none; bottom: 0; left: 0; font-weight: 700; background: rgb(0 0 0 / 37%); width: 100%; z-index: 99999; text-align: center; padding: 10px; right: 0; font-size: 18px; backdrop-filter: blur(1px);}
  
  
  
/* CSS Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
/* HTML5 */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{list-style: none;line-height:1;display:block}
*{margin:0;padding:0}
html{display:block}
ol,ul{list-style:none}
blockquote,q{quotes:none}
table{border-collapse:collapse;border-spacing:0}
.post-feeds,.feed-links{display:none}
.section,.widget{margin:0;padding:0}
strong,b{font-weight:bold;padding:0}
cite,em,i{font-style:italic}
a,a:link,a:visited{text-decoration:none;transition:all .3s}
a:hover,a:hover:visited{color:#e82727}
h1:hover,h1:hover:visited{color:#e82727}
a img{border:none;border-width:0;outline:none}
img{max-width:100%;vertical-align:middle;border:0;height:auto}
abbr,acronym{border-bottom:0;text-decoration:none;cursor:help}
sup,sub{vertical-align:baseline;position:relative;top:-.4em;font-size:86%}
sub{top:.4em}
small{font-size:86%}
kbd{background-color:#0a5b8c;color:#fff;border-radius:50px;font-size:86%;padding:0 5px}
kbd:before { width: 135px; position: absolute; content: &#39;اضغط مرتين للنسخ Ctrl+c &#39;; display: table; bottom: 0; right: 0; background: #ff5268; color: #fff; padding: 6px; border-radius: 99em; font-size: 75%; line-height: 1; opacity: 0; visibility: hidden; text-align: center; z-index: 2; transition: all .3s; }
kbd:hover:before{bottom:28px;opacity:1;visibility:visible}
mark{background-color:#ffce00;color:#182025}
p,blockquote,pre,table,figure,hr,form,ol,ul,dl{margin:1.5em 0}
hr{height:1px;border:none;background-color:#999}
pre{white-space:pre;word-wrap:normal;overflow:auto;font-size:14px;margin:0}
*:focus{outline:0}
.section,.widget{margin:0;padding:0}
input,button,select,textarea{font-size:100%;line-height:normal;vertical-align:baseline}
textarea{display:block;box-sizing:border-box}
*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
input,button,select,textarea{font-size:100%;line-height:normal;vertical-align:baseline}
textarea{display:block;box-sizing:border-box}
input.placeholder_text,textarea.placeholder_text{color:#888}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder,input:-moz-placeholder,textarea:-moz-placeholder,input.placeholder_text,textarea.placeholder_text{color:#444}
[placeholder]:focus::-webkit-input-placeholder{transition:opacity .5s .5s ease;opacity:0}
body{background: #E9EEF8;background-position-x: 50%; background-position-y: 50%; background-size: cover; background-attachment: fixed; position: relative; background-repeat: repeat;font-family:&#39;cocon-next-arabic&#39;,sans-serif;font-size:15px;font-weight:400;text-align:right;color:#45607d;margin:0;padding:0;line-height:normal}
#clear,.clear{clear:both}.list-unstyled {padding-right: 0;list-style: none;}
#navbar-iframe,.post-feeds,.feed-links,.quickedit,.status-msg-wrap{display:none!important}
.left{float:left}
.right{float:right}
img,iframe,table,video,object,embed{max-width:100%}
strong,b{font-weight:bold}
cite,em,i{font-style:italic}
a img{border:none;border-width:0;outline:none}
abbr,acronym{color:#aaa;border-bottom:1px dotted;cursor:help;position:relative}
small{font-size:86%}
p,blockquote,pre,table,figure,hr,form,ol,ul,dl{margin:0 0 1.2em}
hr{height:1px;border:none;background-color:#aaa}
h1,h2,h3,h4,h5,h6{font-weight:700;line-height:normal}
h1{font-size:200%}
h2{font-size:180%}
h3{font-size:160%}
h4{font-size:140%}
h5{font-size:120%}
h6{font-size:100%}
.post-body h1{font-weight: 400;font-size:200%}
.post-body h2{font-weight: 400;font-size:180%}
.post-body h3{font-weight: 400;font-size:160%}
.post-body h4{font-weight: 400;font-size:140%}
.post-body h5{font-weight: 400;font-size:120%}
.post-body h6{font-weight: 400;font-size:100%}

  
.more-link{display:none}
  
.post-body{line-height:1.6;padding:0 0 0 20px;color:#999;font-size:15px}
.post h1{font-size:21px;color:#ccc}
.post h2{font-size:20px;font-weight:700}
dl,ol,ul{margin-right:20px}
ol{list-style:decimal outside}
ul{list-style:square outside}
li{margin:5px 0}
ol ol,ul ul{margin-right:16px}
ol li{padding:0 0 5px}
dl{overflow:hidden}
li p:first-child,dt p:first-child{margin-top:20px}
dt{clear:right;float:right;width:26%;text-align:left}
dd{margin-right:30%;margin-bottom:20px}
small{font-size:86%}
sup,sub{font-size:76%;position:relative;top:.45em}
sup{top:-.45em}
mark,.highlight{background-color:#FAD163;color:black}
mark.highlight{border:1px solid #8D3000}
pre,code{color:inherit}
pre{white-space:pre;word-wrap:normal;overflow:auto}
form{margin:0;padding:0}
.post-info abbr{border:0}
.post-info i{margin:0 0 0 5px;margin-left:5px;font-size:16px}
span.post-author.vcard{transition: all .3s ease-in-out;float: left; position: absolute; left: 0; bottom: 0; background: #fff; border-radius: 0 4px 0 0; margin: 0;}
.index span.post-labels{position:absolute;background-color:#E74C3C;font-size:12px;padding:6px 8px;color:#fff}
.index span.post-labels a:nth-child(1){display:block}
.index span.post-labels a{color:#fff;display:none}
.index .post h2{display:block!important;text-decoration:none!important;color:#e74c3c!important;font-size:17px!important;font-weight:600!important}
.snipp{font-size:15px;line-height:1.6;color:#383838}

  li.pull-right { list-style: none; min-width: 100%; }
  
  
 
  /* START TOOLTIP STYLES */ [tooltip] { position: relative; /* opinion 1 */ } /* Applies to all tooltips */ [tooltip]::before, [tooltip]::after { text-transform: none; /* opinion 2 */ font-size: .9em; /* opinion 3 */ line-height: 1; user-select: none; pointer-events: none; position: absolute; display: none; opacity: 0; } [tooltip]::before { content: &#39;&#39;; border: 5px solid transparent; /* opinion 4 */ z-index: 1001; /* absurdity 1 */ } [tooltip]::after { content: attr(tooltip); /* magic! */ /* most of the rest of this is opinion */ text-align: center; /* Let the content set the size of the tooltips but this will also keep them from being obnoxious */ min-width: 3em; max-width: 21em; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; padding: 1ch 1.5ch; border-radius: .3ch; box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35); background: #333; color: #fff; z-index: 1000; /* absurdity 2 */ } /* Make the tooltips respond to hover */ [tooltip]:hover::before, [tooltip]:hover::after { display: block; } /* don&#39;t show empty tooltips */ [tooltip=&#39;&#39;]::before, [tooltip=&#39;&#39;]::after { display: none !important; } /* FLOW: UP */ [tooltip]:not([flow])::before, [tooltip][flow^=&quot;up&quot;]::before { bottom: 100%; border-bottom-width: 0; border-top-color: #333; } [tooltip]:not([flow])::after, [tooltip][flow^=&quot;up&quot;]::after { bottom: calc(100% + 5px); } [tooltip]:not([flow])::before, [tooltip]:not([flow])::after, [tooltip][flow^=&quot;up&quot;]::before, [tooltip][flow^=&quot;up&quot;]::after { left: 50%; transform: translate(-50%, -.5em); } /* FLOW: DOWN */ [tooltip][flow^=&quot;down&quot;]::before { top: 100%; border-top-width: 0; border-bottom-color: #333; } [tooltip][flow^=&quot;down&quot;]::after { top: calc(100% + 5px); } [tooltip][flow^=&quot;down&quot;]::before, [tooltip][flow^=&quot;down&quot;]::after { left: 50%; transform: translate(-50%, .5em); } /* FLOW: LEFT */ [tooltip][flow^=&quot;left&quot;]::before { top: 50%; border-right-width: 0; border-left-color: #333; left: calc(0em - 5px); transform: translate(-.5em, -50%); } [tooltip][flow^=&quot;left&quot;]::after { top: 50%; right: calc(100% + 5px); transform: translate(-.5em, -50%); } /* FLOW: RIGHT */ [tooltip][flow^=&quot;right&quot;]::before { top: 50%; border-left-width: 0; border-right-color: #333; right: calc(0em - 5px); transform: translate(.5em, -50%); } [tooltip][flow^=&quot;right&quot;]::after { top: 50%; left: calc(100% + 5px); transform: translate(.5em, -50%); } /* KEYFRAMES */ @keyframes tooltips-vert { to { opacity: .9; transform: translate(-50%, 0); } } @keyframes tooltips-horz { to { opacity: .9; transform: translate(0, -50%); } } /* FX All The Things */ [tooltip]:not([flow]):hover::before, [tooltip]:not([flow]):hover::after, [tooltip][flow^=&quot;up&quot;]:hover::before, [tooltip][flow^=&quot;up&quot;]:hover::after, [tooltip][flow^=&quot;down&quot;]:hover::before, [tooltip][flow^=&quot;down&quot;]:hover::after { animation: tooltips-vert 300ms ease-out forwards; } [tooltip][flow^=&quot;left&quot;]:hover::before, [tooltip][flow^=&quot;left&quot;]:hover::after, [tooltip][flow^=&quot;right&quot;]:hover::before, [tooltip][flow^=&quot;right&quot;]:hover::after { animation: tooltips-horz 300ms ease-out forwards; }
  
#hero-wrap:before{content: &quot;&quot;; position: absolute; opacity: .05;  backdrop-filter: blur(1px); background: url(https://1.bp.blogspot.com/-WmTSMipCAyo/YRcNHuYIYWI/AAAAAAAABMI/sLzhHBdGQz02c7B7LKV4IGGh6BP8fQD2QCLcBGAsYHQ/s16000/1.png); top: 0;background-size: 30%; width: 100%; z-index: 0; height: 100%; background-position-x: right; background-position-y: bottom; background-repeat: no-repeat; }
 #hero-wrap{text-align: center;position: relative; overflow: hidden; width: 100%; height: 300px; background:linear-gradient( 45deg ,#0a515d,#328884);}
 p.hero-description{z-index: 9; position: relative; color: rgba(255,255,255,0.5); font-size: 16px; font-weight: 300; }
 p.hero-description2{z-index: 9; position: relative; color: rgba(255,255,255,0.5); font-size: 16px; font-weight: 300; }

  
.authorjazairi4teq{width: 35px!important; height: 35px!important; border-radius: 100%; margin-left: 2%; float: right; position: relative; line-height: 43px; margin: 5px;display: none;transition: .3s ease-in-out;}

  
   * Dark Mode */
  .modedark{z-index: 9999;display:inline-block;float: right;margin-top: 3px;position:absolute;right:45px;top: 0;z-index:999;} .modedark svg{ width: 35px; height: 35px; background-repeat: no-repeat !important; content: &#39;&#39;; text-align: center; margin: 0 auto; color: #fff;} .modedark svg path{ fill:#fff; } .modedark .check:checked ~ .NavMenu{ opacity:1; visibility:visible; top:45px; min-width:200px; transition:all .3s ease; z-index:2; } .iconmode {text-align: center;cursor: pointer;z-index: 9; position: relative; display: inline-block; transition: all .5s linear; } .iconmode:hover{ backface-visibility: hidden; animation: heart2 .5s ease;} .check { display: none; } .modedark .iconmode .openmode{ display:block; } .modedark .iconmode .closemode{ display:none; }.iconmode:hover{backface-visibility: hidden; animation: jelly .5s ease;}
  .modedark .check:checked ~ .iconmode .openmode{ display:none; } .modedark .check:checked ~ .iconmode .closemode{ display:block; }  

   /* Button contact Mode */
.contactme h2{transition: .3s ease-in-out;display:none;}.contactme {transition: all .3s;margin-top: 20px;margin-bottom: 20px;width: 100%;display:none;}
.contactme:hover{-webkit-transform:translateY(-4px)translateZ(0);transform:translateY(-4px) translateZ(0)}.blog__title2.contact-us-jazairi4teq{transition: .3s ease-in-out;display:none;}#content1.contact-us-jazairi4teq{display:none;}
.blog.contact-us-jazairi4teq, .recent-layout.contact-us-jazairi4teq{transition: .3s ease-in-out;display:none;}.contactme.contact-us-jazairi4teq{transition: .3s ease-in-out;display:inline-block;}.asda.contact-us-jazairi4teq{transition: .3s ease-in-out;display:none;}
.logo-wrap2{transition: .3s ease-in-out;display:none;}.logo-wrap2.contact-us-jazairi4teq{transition: .3s ease-in-out;display:inline-block;}.logo-wrap.contact-us-jazairi4teq{transition: .3s ease-in-out;display:none;}
.button-conscrollToTop.contact-us-jazairi4teq { width: fit-content; }.scrollToTop.contact-us-jazairi4teq, .button-menu.contact-us-jazairi4teq{display:none;}
  
  #main-wrapper.menu-jazairi4teq {transition: .3s ease-in-out;float: none; width: 100%;}.post-outer.menu-jazairi4teq{transition: .3s ease-in-out;width: 25%!important;}
  #sidebar-wrapper.menu-jazairi4teq{transition: .3s ease-in-out;display:none}
  span.post-author.vcard.menu-jazairi4teq {transition: .3s ease-in-out;border-radius: 20px; margin: 5px; }
  .linker .mcate.menu-jazairi4teq { height: 26px; border-radius: 50px; right: 0; }.linker.menu-jazairi4teq { top: 5px; right: 5px; }
  .authorjazairi4teq.menu-jazairi4teq {transition: .3s ease-in-out;display:inline-block;}
  .linker .mcate.menu-jazairi4teq { color: #45607d; background: #fff;}
  
  /* Button Dark Mode */
   body.Night-jazairi4teq {color: #ccc;background-color: #1e1f22;}
  .Night-jazairi4teq .post-body {color: #fff;}
  .Night-jazairi4teq body { background: #1e1f22; }
  .Night-jazairi4teq header { background: #192c2f; }
  .Night-jazairi4teq .column ul {background-color: #192c2f;}
  .Night-jazairi4teq div#HTML11 {  background: #192c2f;}
  .Night-jazairi4teq header .mainmenu ul li a { color: #ffffff;}
  .Night-jazairi4teq .recent-des  {  background: #192c2f; color: #fff; }
  .Night-jazairi4teq .box-title h2 a  { color: #ffffff;}
  .Night-jazairi4teq message-box h1  { color: #fff; }
  .Night-jazairi4teq .widget-content {  background: #192c2f;}  
  .Night-jazairi4teq .contact-form-widget { background: #192c2f;}
  .Night-jazairi4teq .post  {background: #192c2f;}
  .Night-jazairi4teq #comments  {  background: #192c2f;}
  .Night-jazairi4teq #emoWrap  {  background-color: #1e1f22;}
  .Night-jazairi4teq .list ul {  background-color: #192c2f;}
  .Night-jazairi4teq .list ul li  { background-color: #1e1f22;  }
  .Night-jazairi4teq .Links  {  background: #192c2f;border: 5px solid #192c2f;color: #fff;}
  .Night-jazairi4teq .label.Clabel {background-color: #1e1f22;}
  .Night-jazairi4teq .footertwo {background: #192c2f;}
  .Night-jazairi4teq .column ul li  { background-color: #1e1f22; }
  .Night-jazairi4teq .fbig ul li .recent-content  { border-right: solid 1px #192c2f; }
  .Night-jazairi4teq #sidebar h2 , .Night-jazairi4teq #sidebar h3 , .Night-jazairi4teq #sidebar h4 {background-color: #192c2f;}
  .Night-jazairi4teq #comments h3  { background-color: #192c2f;}
  .Night-jazairi4teq #comments h3 i  { background-color: #192c2f;}
  .Night-jazairi4teq .codtext  { background-color: #192c2f;}
  .Night-jazairi4teq .widget-content.cloud-label-widget-content span a { background: #1e1f22;border: 1px solid #192c2f; }
  .Night-jazairi4teq .fbig .recent-title a ,.Night-jazairi4teq .post-body h6 { color: #ccc;}
  .Night-jazairi4teq .circles-jazairi4teq li { background: rgb(29 29 29 / 12%);}
  .Night-jazairi4teq .widget-content { background-color: #192c2f;}
  .Night-jazairi4teq .PopularPosts li a { color: #ccc;}
  .Night-jazairi4teq .social-btns { background: #192c2f;}
  .Night-jazairi4teq .topic-nav  { border: 1px solid #1e1f22; }  
  .Night-jazairi4teq .topic-nav-cont span { color: #ffffff;background: #1e1f22;}
  .Night-jazairi4teq .topic-nav .next ,.topic-nav .prev  { border: 1px solid #1e1f22; }
  .Night-jazairi4teq .converttitle  {  color:#fff;background: #1e1f22;}
  .Night-jazairi4teq .PopularPosts ul li {background: #1e1f22;}
  .Night-jazairi4teq .contact-form-name , .Night-jazairi4teq .contact-form-email , .Night-jazairi4teq .contact-form-email-message {background: #1e1f22;}
  .Night-jazairi4teq .blog__title2  { color: #ccc;}
  .Night-jazairi4teq .topic-nav-cont h4 { color: #ffffff; }
  .Night-jazairi4teq .post-body li   { list-style-type: square; display: block; margin: 0.5em 0; background: #1e1f22;}
  .Night-jazairi4teq li.pull-right  { width: 100%;background: none;}
  .Night-jazairi4teq .title_1 {   color: #fff;}
  .Night-jazairi4teq .title_1 a{ color: #ccc;}
  .Night-jazairi4teq .modedark svg path{ fill:#dbcc11; }
  .Night-jazairi4teq .mrg--an{color: #ccc; }
  .Night-jazairi4teq footer #footerone{background: #17282b; }
  .Night-jazairi4teq .pub-here a{background: #1e1f22; }
  .Night-jazairi4teq #team img {border: 1px solid #34363c;}
  .Night-jazairi4teq .scrollToTop a{color: #fff;background: linear-gradient( 45deg ,#0a515d,#328884)}
  .Night-jazairi4teq .contact-form p{color: #fff;}
  .Night-jazairi4teq .post blockquote {background: #1e1f22;}
  .Night-jazairi4teq .mainmenu ul li a:hover{box-shadow:0 4px 0 0 #45607d;color:#45607d}
  .Night-jazairi4teq input.gsc-input { background: #192c2f; color: #fff;}
  .Night-jazairi4teq input.gsc-search-button { background: #192c2f;}
  .Night-jazairi4teq span.post-author.vcard {background: #1e1f22; }
  .Night-jazairi4teq .author-meta.g-profile{color: #ffffff;}
  .Night-jazairi4teq .mainmenu ul li a:before {color: #339595;}
  .Night-jazairi4teq .post-body li:hover{transition: all 0.3s ease-out 0s;background-color:#25262a;}
  .Night-jazairi4teq .cvv, .Night-jazairi4teq .dvv{transition: all 0.3s ease-out 0s;fill:#1e1f22;}
  .Night-jazairi4teq .cvv2, .Night-jazairi4teq .dvv2{transition: all 0.3s ease-out 0s;fill:#17282b;}
  .Night-jazairi4teq #content1{transition: all 0.3s ease-out 0s;background: #192c2f; color: #ccc;}
  .Night-jazairi4teq #content1 .visible {color: #20474b;}
  .Night-jazairi4teq .toggle + .toggle-button { background: linear-gradient( 45deg ,#0a515d,#328884);}
  .Night-jazairi4teq .toggle-button:before { color: #fff;}
  .Night-jazairi4teq .prof-sm .sm { background: #192c2f;}.Night-jazairi4teq .prof-sm path { fill: #ccc; }
  .Night-jazairi4teq .titlewrapper{ background: linear-gradient( 45deg ,#0a515d,#328884); -webkit-background-clip: text; -moz-background-clip: text; -ms-background-clip: text; -webkit-text-fill-color: transparent; -moz-text-fill-color: transparent; -ms-text-fill-color: transparent; -o-text-fill-color: transparent; }
  .Night-jazairi4teq .comment_admin .comment_name{background: #1e1f22;}
  .Night-jazairi4teq .jazairi4teq-about{background: #1e1f22;}
  .Night-jazairi4teq .togglemenu + .toggle-menu{background: linear-gradient( 45deg ,#0a515d,#328884);}
  .Night-jazairi4teq .toggle-menu:before{ color: #fff;}
  
  
  
  
  .post:hover .linker {right:-100px;opacity:0;}.post:hover .post-author{left:-100px;opacity:0;}
  .linker { transition: all .3s ease-in-out;position: absolute; top: 0; right: 0;} .linker a { color: #656565; }.linker i.fa.fa-comment { margin-left: 5px; color: #aaa; }
  .linker .mcate { color: #fff; text-transform: capitalize; float: right; top: 0; left: 36px; padding: 2px; width: 40px; height: 28px; background: linear-gradient( 45deg ,#0a515d,#328884); border-radius: 0 0 0 15px; right: 0;}a.fancybox i { color: #aaa; }.forcomment{color: #fff;position: absolute; }
.clearfix::before, .clearfix::after, .dl-horizontal dd::before, .dl-horizontal dd::after, .container::before, .container::after, .container-fluid::before, .container-fluid::after, .row::before, .row::after, .form-horizontal .form-group::before, .form-horizontal .form-group::after, .btn-toolbar::before, .btn-toolbar::after, .btn-group-vertical &gt; .btn-group::before, .btn-group-vertical &gt; .btn-group::after, .nav::before, .nav::after, .navbar::before, .navbar::after, .navbar-header::before, .navbar-header::after, .navbar-collapse::before, .navbar-collapse::after, .pager::before, .pager::after, .panel-body::before, .panel-body::after, .modal-footer::before, .modal-footer::after { display: table; content: &quot; &quot;; }
  
  
a#dontedit {position: relative;bottom: -50px;opacity: 0;z-index: -1;}
a#dontedit-jazairi4teq {color: #fff; float: none; background: rgb(28 35 38 / 47%); padding: 3px; border-radius: 50px; padding-right: 10px; padding-left: 10px;}
  
    .footer-logo,.footer-logo2 {list-style: none; width: 100%;text-align: center; }.footer-logo a,.footer-logo2 a {z-index: 9; position: relative;list-style: none;cursive; font-weight: 100; color: #fff; font-size: 90px; padding: 10px 0;  }.footer-logo span,.footer-logo2 span {font-family: Lobster;color: #c1d9d8;  }

  
  .circles-jazairi4teq{z-index: 0; position: absolute; top: 0; right: 0; left: 0; overflow: hidden; margin: 0; height: 300px;}
  .circles-jazairi4teq li{position:absolute;display:block;list-style:none;width:20px;height:20px;background:rgb(233 238 248 / 8%);animation:animate 45s linear infinite;bottom:-150px;z-index:0}.circles-jazairi4teq li:nth-child(1){animation: animate2 45s linear infinite;right:25%;width:20px;height:20px;animation-delay:0s}.circles-jazairi4teq li:nth-child(2){border: 1px solid rgba(255,255,255,.5); background: none;right:10%;width:10px;height:10px;animation-delay:2s;animation-duration:12s}.circles-jazairi4teq li:nth-child(3){right:70%;width:10px;height:10px;animation-delay:4s}.circles-jazairi4teq li:nth-child(4){animation: animate2 45s linear infinite;border: 3px solid rgba(255,255,255,.5); background: none;right:40%;width:15px;height:15px;animation-delay:0s;animation-duration:18s}.circles-jazairi4teq li:nth-child(5){border: 3px solid rgba(255,255,255,.5); background: none;right:65%;width:10px;height:10px;animation-delay:0s}.circles-jazairi4teq li:nth-child(6){right:75%;width:10px;height:10px;animation-delay:3s}.circles-jazairi4teq li:nth-child(7){animation: animate2 45s linear infinite;right:35%;width:50px;height:50px;animation-delay:7s}.circles-jazairi4teq li:nth-child(8){border: 3px solid rgba(255,255,255,.5); background: none;right:50%;width:15px;height:15px;animation-delay:15s;animation-duration:45s}.circles-jazairi4teq li:nth-child(9){right:20%;width:5px;height:5px;animation-delay:2s;animation-duration:35s}.circles-jazairi4teq li:nth-child(10){right:85%;width:20px;height:20px;animation-delay:0s;animation-duration:11s}


  
      .title_before{border-radius: 0 4px 0 0; display: inline-block; top: 0; right: 0; color: #ffffff; width: 45px; height: 45px; line-height: 45px; background: #105963; text-align: center; float: right;}
   h1.post-title.entry-title {text-align: center;border-radius: 4px 4px 0 0;margin: 0; height: 45px; background:linear-gradient( 45deg ,#0a515d,#328884);; line-height: 45px; font-size: 19px; color: #ffffff; overflow: hidden; }
.cover-post h1.post-title.entry-title{display:block}
img.backimg{position:absolute;top:0;right:0;left:0;width:100%;height:100%;opacity:0.3}
.writer::before{display:-moz-inline-box;display:-webkit-inline-box;content:&quot;\f2bd&quot;;font-family:fontawesome;margin:-1px 17px 0 5px}https://draft.blogger.com/blogger.g?blogID=5727739383379606673#pageelements
.timer::before{display:-moz-inline-box;display:-webkit-inline-box;content:&quot;\f073&quot;;font-family:fontawesome;margin:0 0 0 5px}
.commenterr::before{display:-moz-inline-box;display:-webkit-inline-box;content:&quot;\f086&quot;;font-family:fontawesome;margin:0 10px 0 5px}
@media screen and (max-width:600px){
  #content1 .button{display:none}
  .in-cover-post{margin-top:-10%}.cover-post{margin:0;margin-top:-2%;margin-bottom:10px;padding:50px 20px;background:rgb(34,34,34);overflow:hidden;position:relative;text-align:center;height:151px}}  
  
@media screen and (max-width:414px){.message-box h1 { font-size: 30px;}.fouriss { font-size: 140px;}} 
@media screen and (max-width:375px){.message-box h1 { font-size: 35px;}.fouriss { font-size: 150px;} 
  .footer-logo a, .footer-logo2 a { font-size: 75px;}
  .message-box { text-align: center; position: absolute; top: 5%;}}

.pub-here a {width: 100%; display: inline-block; background: #223950; padding: 8px 10px; color: #fff; margin: 1px; padding-right: 10px; font-size: 16px; float: right; border-radius: 50px;}
.pub-here a a:before { display: inline-block; height: 14px; top: 0; right: 0; margin: 0 0 0 10px; font-family: FontAwesome; content: &quot;\f0fe&quot;; color: #ffffff; }
  
  
  
  #content1{box-shadow: 0;width: 85%; height: 90px; background: #ffffff; margin: 0 auto; color: rgba(0,0,0,0.15); clear: both; position: relative; border-radius: 4px;}
#content1 .button{margin:0;position:absolute;right:5%;top:25%;list-style:none}
#content1 .button a.downloadr{border-radius: 50px;display:inline-block;background: linear-gradient( 45deg ,#0a515d,#328884); color: #ffffff;font-size:14px;font-weight:400;padding:8px 18px;}#content1 .button a.downloadr:hover{color:#eee}
#content1 .visible{position:absolute;left:5%;line-height:90px;color:rgb(0 0 0 / 20%);font-size:3rem}
@media screen and (max-width:768px){
#content1{margin: 25px auto;}}
  
  
  /* Post Table */
.post-body table{width:100%}
.post-body table td,.post-body table caption{background:#fff;border:1px solid rgba(0,0,0,0.05);padding:10px;text-align:right;vertical-align:top}
.post-body table th{font-weight:700;border:1px solid rgba(0,0,0,0.05);border-bottom:0;padding:10px;text-align:right;vertical-align:top}
.post-body table.tr-caption-container{border:1px solid rgba(0,0,0,0.14);margin:0 0 20px 0}
.post-body th{font-weight:700}
.post-body table caption{border:none;font-style:italic}
.post-body td,.post-body th{vertical-align:top;text-align:right;font-size:14px;padding:3px 5px;border:1px solid #97b28e}
.post-body td a{color:#444}
.post-body td a:hover{color:#cf4d35}
.post-body table.tr-caption-container td{border:0;padding:8px;background:#fff;line-height:17px;overflow:hidden;text-align:center;text-overflow:ellipsis;font-weight:700;color:#45607d}
.post-body table.tr-caption-container,.post-body table.tr-caption-container img,.post-body img{max-width:100%;height:auto}
  
  .post-body li:before { content: &quot;\f060&quot;; font-family: fontawesome; background-color: rgba(0,0,0,0.1); height: 25px; width: 25px; float: right; text-align: center; padding-top: 3px; margin-left: 15px; color: #223950; font-size: 13px; font-weight: 400; -webkit-transition: font-size 0.1s,background-color .3s;}
.post-body li{display: block; margin: 0.5em 0; background: rgba(245, 245, 245, 1); width: 95%; text-decoration: none; border-radius: 0.3em; transition: all 0.3s ease-out 0s; position: relative;list-style-type:square}.post-body li:hover{transition: all 0.3s ease-out 0s;background-color:#2d817f ;color:#fff;}
  
#sidebar h2:before,#sidebar h3:before,#sidebar h4:before{display: inline-block; right: 0; content: &quot;\f0e7&quot;; font-family: FontAwesome; color: #ffffff; width: 45px; height: 45px; line-height: 45px; background-color: #105963; text-align: center; float: right;}
div#Label1 h2:before{content:&quot;\f02b&quot;}
div#HTML1 h2:before{content:&quot;\f076&quot;}
div#HTML2 h2:before{content:&quot;\f2b9&quot;}

.post-body td.tr-caption{color:#aaa;font-size:80%;padding:0 8px 8px}
.sr{visibility:hidden;width:0;height:0}
.clear{clear:both}
html{-webkit-font-smoothing:antialiased}
#outer-wrapper{background:#fff;width:100%;max-width:970px;margin:0 auto;padding:0;overflow:hidden;border-right:1px dotted #e9e9e9;border-left:1px dotted #e9e9e9}
#content-wrapper{margin:0;padding:15px 0}
#main-wrapper{transition: .3s ease-in-out;float:right;width:70%;margin:0;padding:0;}
div#sidebar .widget{transition: all .3s;margin-bottom:20px;border-radius:4px}
div#sidebar .widget:hover{-webkit-transform:translateY(-4px)translateZ(0);transform:translateY(-4px) translateZ(0)}
#sidebar-wrapper{transition: .3s ease-in-out;float:left;width:29%;margin:0;background:transparent;}
#sidebar h2,#sidebar h3,#sidebar h4,#sidebar h5{font-weight: 400;text-align: center;height: 45px; background: linear-gradient( 45deg ,#0a515d,#328884);; line-height: 45px; font-size: 19px; color: #ffffff; border-radius: 5px 5px 0 0; overflow: hidden;}
.widget-content.cloud-label-widget-content span a:hover{color:#fff;box-shadow:150px 0 0 #263545 inset}
.widget-content.cloud-label-widget-content span a:hover:before{color:#fff}
.widget-content.cloud-label-widget-content span a:before{display:inline-block;height:14px;top:0;right:0;margin:0 0 0 10px;font-family:FontAwesome;content:&quot;\f02b&quot;;color:#ffffff}
.widget-content.cloud-label-widget-content span a{display:inline-block;background:#263545;padding:8px 10px;color:#fff;width:31%;margin:1px;padding-right:10px;font-size:16px;float:right;border-radius:3px;border:1px solid #263545;box-shadow:4px 0 0 #1c2733 inset}
 .widget-content{box-shadow: 0;padding:10px;margin-bottom:10px;background-color:#fff;border-radius:0 0 4px 4px}
.sidebar ul,.adx-banner ul{list-style:none;margin:0;padding:0}
.sidebar li,.adx-banner li{margin:0;padding-top:5px;padding-left:0;padding-bottom:10px;padding-right:0;line-height:1.5em}
.sidebar a:hover,.adx-banner a:hover{text-decoration:none}
.index .post-outer:hover .posts-thumb img{opacity:0.5;transform:scale(1.3)}
.posts-thumb img{transition:all 0.7s ease 0s}
  
    @media screen and (max-width:734px){.column { width: 49%!important; }header .mainmenu { float: none; width: 98%; text-align: center; }}
    @media screen and (max-width:736px){header .mainmenu { float: none; width: 98%; text-align: center; }}
    @media screen and (max-width:768px){header .mainmenu { float: none; width: 98%; text-align: center; }}

  @media screen and (max-width:768px){
  header { z-index: 1;}
  .post-outer {margin: 0 auto;float: none; min-width: 98%;}
  .Links {width: 98%; }
  .recent-layout .widget {width: 100%!important; margin-bottom: 10px; margin: 0;}
  a#dontedit { float: right; margin: 0 auto; width: 98%; text-align: center; position: relative; }
  footer .footertwo .copyrights {width:98%; float: none; color: #ffffff; font: 14px/30px cocon-next-arabic; margin: 0 auto; text-align: center; }
  #logo { float: none; text-align: center; display: table; margin: 0 auto; padding-top: 20px; }
  }

.post:hover{-webkit-transform:translateY(-4px)translateZ(0);transform:translateY(-4px) translateZ(0)}
.Night-jazairi4teq .post:hover{-webkit-transform:translateY(-4px)translateZ(0);transform:translateY(-4px) translateZ(0)}

@media screen and (max-width:480px){
  header .mainmenu{display:none;}
  .message-box h1 { font-size: 30px;}.fouriss { font-size: 140px;}
  .column { width: 100%!important; }}
  
.breadcrumbs{background:#fff;color:#aaa;margin:0 5px;padding:9px 8px;border-bottom:1px dotted #ddd;font-size:99%;display:none}
.breadcrumbs a{color:#aaa}
.breadcrumbs a:hover{color:#263545}
.share{display:block;padding:0;margin:0}
.post-footer{color:#999;font-style:normal;margin:.3em 0;padding:2px;text-transform:none}
.post h2{line-height:1.2em;margin:0;padding:0;text-decoration:none;text-align:right}
.post h2 a,.post h2 a:visited,.post h2 strong{display:block;text-decoration:none;color:#45607d}
.post h2 strong,.post h2 a:hover{color:#007abe}
.post{transition: all .3s;margin:0;padding:0!important;color:#45607d;margin-bottom:10px;background:#fff;box-shadow: 0;border-radius:4px}
.date-header{margin:1.5em 0 .5em;display:none}

  
  
  .post blockquote {font-weight: 400;overflow:auto; max-height:250px; background:#303F4A; color:#ccc; border-radius:4px; margin:10px; padding:10px; text-align: left !important; direction: ltr; font: 14px; line-height: 1.7em; } .post blockquote a {color: #F8D300;} .post blockquote:before { content: &quot;\f10d&quot;; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit; padding-right: 6px; color: #3b886b; float: left; }
  
/* Popular Post */
.PopularPosts ul{list-style-type:none;}
.PopularPosts li{margin:0;padding:0!important}
.PopularPosts ul li{background: #e9eef8;margin:5px 0;padding:0;border-radius:4px}
.PopularPosts li a{color: #45607d;font-weight:400;font-family:&#39;cocon-next-arabic&#39;,sans-serif;font-size:16px;transition:all .5s;border:none}
.PopularPosts li a:hover{color:#ff0000!important;border:none}
.PopularPosts .widget-content ul li { padding: 0 }
  
/* Responsive */
@media screen and (max-width:1024px){
  #outer-wrapper{width:100%;overflow:hidden}}
@media screen and (max-width:980px){
  .fouriss{font-size: 230px;text-align: center; top: 14%;}
  #outer-wrapper{width:100%}#main-wrapper,#sidebar-wrapper {width: 100%;}}
@media screen and (max-width:960px){
  .Links {float: right; width: 98%; }#outer-wrapper{width:100%}}
/* -- Small screen size -- */
@media screen and (max-width:800px){
  social-btns{ width: 98%;}
  #sidebar-wrapper { width: 100%; margin: 0 auto; margin-top: 25px; }
  #main-wrapper{width:100%}}
  
.hide-content{display:none;margin:0;padding:0;}
a.showcontent, #comments a.hiddencontent {display: block;text-decoration: none;position: relative;color: #fff;font-weight: 700;font-size: 15px;padding: 12px 0;background: linear-gradient( 45deg ,#0a515d,#328884);color: #fff;border-radius: 50px;text-align: center;margin: 10px auto;transition: all .3s;width: 100%;clear: both;}
  
/* Footer */
.copyrighttext{color:#6c6c70;direction:ltr;font-size:14px}
 #footerone .footerwidget{margin:25px auto}
footer #footerone .footerwidget .title{font-weight:bold;font-size:17px;color:#191919;margin:0 auto 10px}
footer ul{list-style:outside none none;margin:0;padding:0}
footer #footerone .footerwidget li{float:right;font-size:14px;position:relative;width:25%;margin:5px auto}
footer #footerone .footerwidget li::before{display:inline-block;content:&quot;\f100&quot;;margin:0 0 0 5px;font-family:&quot;FontAwesome&quot;;color:#1c2733}
footer #footerone .footerwidget li a{color:#ccc}
footer #footerone .footerwidget li a:hover{color:#fff}
#footerone {padding: 10px;position: relative;background-color:#fff}
.footertwo{height: 120px; overflow: hidden;background:linear-gradient( 45deg ,#0a515d,#328884);;padding:15px 0}
footer .footertwo .copyrights{text-align:center;float:none;color:#ffffff;font:14px/30px cocon-next-arabic}
footer .footertwo .copyrights a{color:#ffffff;text-decoration:none}
footer .footertwo .copyrights a:hover{color:#1c2733}
footer .footertwo .abdoudz{color:#ffffff;float:left;font:15px/30px cocon-next-arabic}
footer .footertwo .abdoudz a{color:#ffffff;text-decoration:none}
footer .footertwo .abdoudz a:hover{color:#1c2733}
footer .footertwo .abdoudz img{float:left;margin:0 5px 0 0}
div#footerwidget h2{font-weight:bold;font-size:17px;color:#191919;margin:0 auto 10px}
.blog .post-heading h2{color:#383838;text-decoration:none}
.post-bar{padding:5px 15px 5px 15px;margin:0 0 15px 0}
.post-bar ul{display:inline-block;margin-bottom:0}
.post-bar li{font-size:12px;padding-left:10px;padding-right:10px;color:#888;border-left:1px solid #CCC}
li.pull-right i{font-family:cocon-next-arabic,FontAwesome}
li.pull-right{list-style:none}
.post-bar li:first-child{padding-right:0}
.post-bar li:last-child{padding-left:0;border-left-width:0}
.post-bar li a{color:#888;font-family:cocon-next-arabic;font-size:12px}
.post-bar li i{margin-left:5px;font-size:16px}
.post-content{max-width:100%;text-align:justify;overflow:hidden;font-size:14px;margin:20px}
.post-box .abdou-footer{width:100%;padding:5px 10px;text-align:left;font-size:12px}
.more-btn{border:2px solid #383838;background:#FFF;padding:5px 10px;color:#383838!important;display:inline-block;float:left}
.more-btn:hover{border:2px solid #263545!important;color:#263545!important;text-decoration:none}
.blog{transition: .3s ease-in-out;position: relative;margin-top:2%;}

  
#button-modedark{text-align: center; margin: 0 auto; position: relative; width: 90px;}
.button-con {text-align: center; position: relative; width: 40px; height: 40px;} 
.button-con before:hover {animation: rotate-out 0.9s;} 
.toggle { display: none; } .toggle + .toggle-button {width: 40px; height: 40px; background: #fff; outline: 0; display: inline-block; position: relative; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; border-radius: 100%; }  
.toggle-button:before{color: #217174; content: &#39;\f2b6&#39;; background-color: var(--header-bg); border-radius: 50%; font: normal normal normal 14px/1 FontAwesome; font-size: 20px; line-height: 37px;}
  
.button-menu {margin-right: 10px; width: 40px; height: 40px; text-align: center; position: relative;}
.togglemenu { display: none; } .togglemenu + .toggle-menu {box-shadow: 0;background: #fff; padding: 5px; border-radius: 100%; outline: 0; display: inline-block; position: relative; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; width: 40px; height: 40px; }  
.toggle-menu:before{color: #2e8280; content: &#39;\f066&#39;; background-color: var(--header-bg); font: normal normal normal 14px/1 FontAwesome; font-size: 24px; line-height: 31px;}
     

.titlewrapper{color:#fff}
.titlewrapper a{color:#fff} 
.titlewrapper h1:hover{color:#ccc} 

ol,ul{list-style:none}
header{position: relative;box-shadow: 0;z-index: 9999;width: 100%;background: #135e66 }
header .logo{z-index: 9; position: relative;float:right}
header .logo img{text-align: center}

  
  .alert-message.link {background: linear-gradient( 45deg ,#0a515d,#328884);; color: #fff; border-radius: 50px; text-align: right; padding: 5px; width: 45%; margin: 10px auto; padding-right: 10px;}
  .alert-message:hover { color: #ccc; }.alert-message.link a, .alert-message.link span { color: #fff;font-size: 18px!important;}.demo { opacity: 1; padding: 0 10px!important; background: #45607d; color: #fff!important; font-weight: 400; text-align: center; text-transform: uppercase; transition: background-color 1s 0s ease-out; border-radius: 50px; float: left;}.demo:before {font-size: 12px;content: &#39;\f2be&#39;; margin-left: 5px; line-height: 0; color: #fff; font-family: fontawesome; transition: all 0.5s ease-in-out; background: rgba(0, 0, 0, 0.2); border-radius: 50px; padding: 5px; }
  
  .made-title { color: rgba(254,254,254,.6); position: relative; text-align: center; width: 100%; display: block; padding: 10px;}.svg-inline--fa { display: inline-block; font-size: inherit; height: 1em; overflow: visible; vertical-align: -0.125em; }
 
  
/* back-to-top
============== */
.smoothscroll-top{ text-align: center; z-index: 9999; background-color: #e82727; border-radius: 50%; transition: all 0.5s ease-in-out; transition-delay: 0.2s; width: 55px; height: 55px; position: relative; margin: 0 auto;}
.smoothscroll-top.show{visibility:visible;cursor:pointer;}
.smoothscroll-top i.fa{line-height:inherit}
  
  
header .mainmenu{z-index: 9; position: relative;float:left}
header .mainmenu ul li{z-index: 9; position: relative;float:right;font-size:16px;font-weight:bold;line-height:45px;margin:auto 2px}
header .mainmenu ul li a{font-weight: 400;color:#fff;display:block;padding:0 10px}
header .mainmenu ul li a:before {color: #fff;display: inline-block;font: normal normal normal 14px/1 FontAwesome;font-size: inherit;content: &quot;\f192&quot;;margin-left: 5px;list-style: none;}
header .mainmenu ul li a:hover{box-shadow:0 4px 0 0 #fff;color:#ccc}
@keyframes beatHeart{0%{transform:scale(1)}15%{transform:scale(1.1)}25%{transform:scale(1)}35%{transform:scale(1.1)}100%{transform:scale(1)}}
/* Portrait phones and smaller */
@media (min-width:320px) and (max-width:480px){.container{width:100%}.labels-content{width:100%}footer .widgetmenu,footer .widgetsocial{float:none;width:100%}footer .widgetsocial ul{margin:0 auto}footer .widgetsocial li a{margin:5px}#footer2 .copyrights{float:none;text-align:center}#footer2 .abdoudz{display:table;float:none;margin:10px auto 0;text-align:center}}
/* Smart phones and Tablets */
@media (min-width:481px) and (max-width:767px){  .Links {float: right; width: 100%; }
.container{width:100%}.labels-content{width:100%}footer .widgetmenu,footer .widgetsocial{float:none;width:100%}footer .widgetsocial ul{margin:0 auto}footer .widgetsocial li a{margin:5px}#footer2 .copyrights{float:none;text-align:center}#footer2 .abdoudz{display:table;float:none;margin:10px auto 0;text-align:center}}
/* Small Screens */
@media (min-width:768px) and (max-width:991px){.container{width:100%}.labels-content{width:100%}footer .widgetmenu,footer .widgetsocial{float:none;width:100%}footer .widgetsocial ul{margin:0 auto}footer .widgetsocial li a{margin:5px}#footer2 .copyrights{float:none;text-align:center}#footer2 .abdoudz{display:table;float:none;margin:10px auto 0;text-align:center}}
.mainmenu .has-sub::before{content:&quot;\f0d7&quot;;font:15px fontawesome;margin-left:5px;float:left;display:block;margin:20px 5px 0 0}
#sub-menu li{float:none;display:block}
#sub-menu{position:absolute;top:100%;z-index:99999;background:#263545;display:none;width:200px;box-shadow:0 0 13px 0 rgba(0,0,0,0.37)}
.mainmenu ul li #sub-menu a:after{display:none}
#sub-menu li a{line-height:45px;display:block!important}
.mainmenu ul li:hover #sub-menu{display:block}
#sub-menu{position:absolute;top:15%;z-index:99999;background:#263545;display:none;width:200px;box-shadow:0 0 13px 0 rgba(0,0,0,0.37)}
ul#sub-menu:before{content:&#39;&#39;;position:absolute;top:-8px;left:50%;margin-left:-8px;width:0;height:0;border-bottom:8px solid #263545;border-right:8px solid transparent;border-left:8px solid transparent}
.selectnav{display:none}
@media screen and (max-width:1000px){.column { min-width: 100%;}#selectnav1{display:block;border:0;background:#1c2733;color:#fff;padding:5px 0;margin-top:9px;text-align:center;margin-right:-110%;font-family:cocon-next-arabic}header{margin-top:-2%}#logo{float:none;text-align:center;margin-bottom:15px;display:block}#selectnav2{display:block;border:0;margin:10px 10px 0 0;color:#FFF;background:#FF8400;padding:6px 10px;border-radius:2px;font-family:&quot;cocon-next-arabic&quot;}}
@media screen and (max-width:700px){#Header1_headerimg{width:100%}.mainmenu{margin-bottom: 10px; margin: 0 auto; text-align: center; width: 98%;}.postsw-share a{width:100%;margin:5px 0}.author-post{margin:auto;display:table;text-align:center}#selectnav1{width:125px}}
/*Magazine*/
.ticker .title{height:40px;overflow:hidden;line-height:40px;padding:0 10px;background-color:#45607d333;color:#ffffff}
.ticker .layout-content{overflow:hidden}
.ticker .layout-content li{display:inline-block;height:40px;line-height:40px;padding:0}
.ticker{height:40px;overflow:hidden;margin-bottom:20px;background-color:#f7f7f7}
.ticker .post-tag{display:inline-block;background-color:#3388cc;color:#ffffff;padding:2px 5px;line-height:1}
.ticker .recent-title{display:inline-block}
.ticker .recent-title a{color:#222222}
.ticker .recent-title a:hover{color:#263545}
.sidebar .post-widget li{overflow:hidden;border-bottom:1px solid #eee;padding:10px 0}
.post-widget li:first-child{padding-top:0}
.post-widget li:last-child{border-bottom:none}
.post-widget .rcp-thumb{display:block;width:60px;height:60px;border-radius:2px}
.post-widget .rcp-title{font:normal normal 15px Ruda;margin:5px 0 8px}
.post-widget .rcp-title a{color:#222222;font-weight:700;font-size:14px;font-family:Tahoma}
.post-widget .rcp-title a:hover{color:#ff0000;text-decoration:underline}
.intro .widget-content,.recent-layout .widget-content,.recent-layout h2.title,.ticker .widget-content{display:none}
.recent-layout .box-title h2.title{display:inline-block}
.box-title h2{text-align: center;background-position:top right;text-shadow:0 0 1px #111111}
.box-title h2 a{color:#fff;font-weight:600;font-size:18px;display:block}
.intro-loader{position:absolute;top:0;width:100%;height:100%}
.intro{position:relative}
.intro-loader .fa{position:absolute;top:50%;left:50%;margin-left:-10px;margin-top:-10px;font-size:20px;color:#222}
.intro .widget{margin-bottom:20px;height:450px;overflow:hidden}
.intro h2{display:none;display:none}
.intro .rcp-thumb{width:100%;height:215px;display:block}
.intro .rcp-title{font:normal normal 15px Ruda;font-size:16px}
.intro .rcp-thumb:after{content:no-close-quote;position:absolute;bottom:0;width:100%;height:151px;background:url(https://2.bp.blogspot.com/-BJYQzaOHxBY/U2rZzP9ZInI/AAAAAAAAEFI/oliAqBKX2yE/s1600/gradient.png) repeat-x;opacity:.8}
.intro li{width:40%;height:215px;position:relative;padding:.1px;overflow:hidden}
.intro li:nth-child(2){margin-bottom:20px}
.intro li:first-child{width:58.333333333%;height:450px}
.intro li:first-child .rcp-thumb{height:450px}
.intro li:first-child .rcp-title{font-size:25px}
.intro .post-panel{position:absolute;bottom:20px}
.intro .rcp-title a{color:#FFF;font-weight:700;position:relative;bottom:10px;line-height:14px;font-family:Tahoma}
.intro .post-tag{position:absolute;top:15px;background-color:#B565BE;color:#FFF;padding:10px;text-transform:uppercase;font-weight:700;z-index:99;font-family:Tahoma}
.intro li:nth-child(2) .post-tag{background-color:#8d4583}
.intro li:nth-child(3) .post-tag{background-color:#FF5858}
.recent-layout .widget{margin-bottom:10px;}
.fbig .first-thumb{box-shadow: 0;border-radius:4px 4px 0 0;width:100%;height:200px;display:block}
.fbig ul li .rthumbc{float:right;width:35%}
.fbig ul li .recent-thumb{height:95px;position:relative;width:100%;display:block}
.fbig ul li .recent-content{float:right;max-height: 95px;width:65%;padding:5px;border-right: solid 1px #ffffff;border-radius:4px 0 0 4px}
.fbig .recent-title a{width: 100%; text-align: right;font-weight: 600; font-size: 16px; overflow: hidden;color: #263545}
.fbig .recent-des{display:none}
.fbig1 .first{padding-bottom:10px;margin-bottom:3px;background:rgba(0,0,0,0.03);padding:10px}
.fbig1 .first .rthumbc{display:table-cell;vertical-align:middle}
.fbig1 .first-thumb{border:2px solid #fff;display:block}
.fbig1 .first-content{display:table-cell;vertical-align:middle}
.fbig1 ul li{display:inline-block;width:49.6%}
.fbig2 .first{width:50%}
.fbig2 .first .rthumbc{width:100%;margin-bottom:65px}
.fbig2 .first-thumb{width:100%}
.fbig2 ul li{display:block;width:49%;margin-bottom:3px;background:rgba(0,0,0,0.03);padding:10px}
.column:hover{-webkit-transform:translateY(-4px)translateZ(0);transform:translateY(-4px) translateZ(0)}
.column ul, .list ul {box-shadow: 0;}
.column{transition: all .3s;width: 31%; display: inline-block; float: right;margin: 7px;}
.column .first .rthumbc{width:100%;margin-bottom:5px}
.column ul,.list ul{width:100%;margin-right:0;background-color:#ffffff;border-radius:0 0 4px 4px;padding:10px;overflow:hidden}
.column ul li{display:block;min-height:80px;overflow:hidden;background-color:#e9eef8;border-radius:4px}
.list ul li{display:inline-block;width:32.33%}
.videos ul li:hover{background:rgba(0,0,0,0.08)}
.fbig1 ul li:hover{background:rgba(0,0,0,0.08)}
.fbig2 ul li:hover{background:rgba(0,0,0,0.08)}
.recent-title a:hover{color:#ff0000}
.recent-block .recent-thumb{width:100%;height:200px;display:block}
.recent-block ul li{width:33%;display:inline-block;position:relative;padding:0;margin-bottom:2px}
.recent-block .recent-title a{height:55px;overflow:hidden;display:inline-block}
.gallery ul li{height:150px;overflow:hidden}
.gallery li:hover .recent-content{bottom:10px}
.gallery li:hover .recent-thumb{opacity:.4}
.gallery li:hover{background-color:#45607d}
.gallery .recent-content{position:absolute;bottom:-100%}
.gallery .recent-title a{font-size:15px;color:#FFF}
.videos .recent-title a{font-size:15px;height:40px;overflow:hidden;margin-bottom:0;padding-bottom:2px}
.videos ul li,.videos .recent-thumb{margin-bottom:10px;padding-bottom:15px;border-bottom:1px solid #F0F0F0}
.videos .recent-thumb{border:2px solid #fff;box-shadow:0 0 3px 0 rgba(0,0,0,0.71);position:relative}
.videos .recent-thumb:hover{opacity:1}
.videos .recent-thumb:hover:before{background-color:#45607d;opacity:.5;font-size:5em;transition-timing-function:linear,ease-in-out;transition:.1s;transition-delay:.1s}
div#HTML11{box-shadow: 0;background:#fff;border-radius:6px}
.post-widget .rcp-thumb{float:right;margin-left:10px}
.post-widget .post-panel{margin-right:70px}
.owl-buttons{margin-left:5px}
  .box-title h2{padding:8px 10px 5px 20px;border-radius:4px 4px 0 0}
  .box-title:before { border-radius: 0 4px 0 0;display: inline-block; right: 0; content: &quot;\f02c&quot;; font-family: FontAwesome; color: #ffffff; width: 45px; height: 45px; line-height: 45px; background-color: #105963; text-align: center; float: right; }
#HTML5 .box-title:before{content: &quot;\f13b&quot;;} 
#HTML6 .box-title:before{content: &quot;\f200&quot;; }
#HTML7 .box-title:before{content: &quot;\f0ea&quot;; }
 
.intro-loader{right:0}
.intro .rcp-thumb:after{right:0}
.intro li{float:left}
.intro li:first-child{float:right}
.intro .post-panel{right:20px}
.intro .post-tag{right:15px}
.fbig1 .first-content{padding-right:20px}
.fbig1 ul li{float:right;margin-bottom:3px;margin-left:3px;background:rgba(0,0,0,0.03);padding:10px}
.fbig2 .first{float:right;border-left:1px solid #EEE;margin-top:0;margin-bottom:3px;margin-left:3px;background:rgba(0,0,0,0.03);padding:10px}
.fbig2 ul li{float:left}
.list ul li{border-radius:4px;float:right;margin:0 0.50% 5px 0.50%;min-height:80px;overflow:hidden;background-color:#e9eef8;border-radius:4px}
.recent-block ul li{float:right;margin-left:.33%}
.gallery .recent-content{right:10px}
.videos ul li{padding:10px;background:linear-gradient(rgb(255,255,255) 0%,rgb(243,243,243) 50%,rgb(237,237,237) 51%,rgb(255,255,255) 100%);border-radius:4px;border:1px solid rgb(238,238,238);margin-top:5px}
.box-title .owl-controls{float:left}
.slider .owl-controls{right:10px}
.rnav li{padding:0 1px 0 5px;float:right}
.rnav li .rnav-conent{right:5%}
.posts-link{float:left;margin-left:10px}
.post-readmore{float:right}
.post-meta1 .post-timestamp{padding-left:5px;margin-right:5px}
.post-meta1 .post-timestamp .clock{padding-left:10px;float:left}
.dt-published,.none{display:none}
.post-meta1 .post-author{padding-right:10px;float:right}
.post-pager .previous{float:right}
.post-pager .next{text-align:left}
.PopularPosts .item-title { padding-bottom: .2em; padding-top: 13px; }
.PopularPosts img {border-radius: 0 4px 4px 0;transition:all .3s;padding-right: 0; }
.PopularPosts .item-thumbnail{margin: 0 0 0 0;float:right;margin-left:2%}
.footer-column h2{padding-left:15px}
pre .line-number{float:right;margin:0 -1em 0 1em;border-left:2px solid #3E5770;text-align:left}
pre .line-number span{padding:0 1em 0 .5em}
.two-column .column{float:right}
.two-column .column:first-child{border-left:1px solid #DDD}
.alert-message i{float:right;margin-left:5px}
.simpleTab.side .tab-wrapper{float:right}
.simpleTab.side .tab-content{float:right}
.svg-icon-posts,.svg-icon-post{display:none}
.box-title{border-radius:5px 5px 0 0;height: 45px;background: linear-gradient( 45deg ,#0a515d,#328884);; }
@keyframes dotrotate{from{transform:rotate(0deg)}to{transform:rotate(360deg)}}
@keyframes dotscale{0%,10%{width:16px;height:16px;margin-left:-8px;margin-top:-4px}50%{width:8px;height:8px;margin-left:-4px;margin-top:0}90%,100%{width:16px;height:16px;margin-left:-8px;margin-top:-4px}}
@media all and (min-width:750px) and (max-width:900px){.sub-footer{height:140px}}
@media all and (min-width:750px) and (max-width:400px){.msg{float:right;margin:50px 150px 0 0}.mic{float:left;margin:50px 0 0 150px}.sub-footer{height:140px}}
@media all and (min-width:0) and (max-width:400px){.sub-footer{height:170px}#sub-foo{display:none}.emoj{display:none}#sub-foo{display:none}.emoj{display:none}}
  
.contact-form p,.contact-form-widget{font-weight: normal;font-size: 21px;}
.contact-form-email-message{height: 90px; overflow: hidden;}
.contact-form-widget{font-weight: normal;border-radius: 4px;padding: 20px;width: 100%;max-width: 100%; background: #fff; margin-bottom: 10px;}
.contact-form-name, .contact-form-email, .contact-form-email-message {font-family: &#39;cocon-next-arabic&#39;,sans-serif;color: #fff;background: #e9eef8; border: 0;border-radius: 5px;max-width: 100%; width: 100%; }
.contact-form-button-submit {font-weight: normal; background: linear-gradient( 45deg ,#0a515d,#328884); width: 55%; font-family: &#39;cocon-next-arabic&#39;,sans-serif; font-size: 21px; border: 0; border-radius: 50px; text-align: center; margin: 0 auto; display: block;}
